.quoteBody{

	font-size: 33px ;
	color: #ff3333 ;
	font-family:'Permanent Marker',cursive;
}
.quoteAuthor{

	font-size: 28px ;

}
.btn {

	border-radius: 0px;
}
.btn:focus {

	outline:none;
}
.tweetQuote{
   margin-top: 10px;
}
